<%- include("./partials/header") %>
<div class="container">
    <form method="POST" action="/cohorts/search">
        <label for="search">Search</label>
        <input name="name" class="form-control" id="name" placeholder="Cohort Name You Want To Search">
</div></br>
<div class="text-center">
    <button type="submit" class="btn btn-outline-primary float-m">Search</button>
</div>
</form>
</div>
</div>
<%- include("./partials/footer") %>